# ==================================================
# SERVER
# ==================================================

# Port server chạy (Express / Fastify / HTTP)
PORT=5004

# ================== SUPABASE ==================

# Base URL của Supabase project
SUPABASE_URL=

# Service Role Key (⚠️ quyền cao nhất – CHỈ dùng ở server)
SUPABASE_SERVICE_ROLE_KEY=


# ================== WEB PUSH (VAPID) ==================

# Public key dùng cho Web Push Notification (client)
VAPID_PUBLIC_KEY=

# Private key dùng để ký Web Push (server)
VAPID_PRIVATE_KEY=


# ================== THIRD-PARTY API ==================

# API key cho dịch vụ thời tiết (ví dụ: OpenWeather, WeatherAPI…)
WEATHER_API_KEY=


# ================== REDIS ==================

# Connection string Redis (cache, queue, socket adapter…)
REDIS_URL=


# ================== INTERNAL API BY DIO ==================

# API nội bộ hoặc storage service riêng (upload, CDN, media…)
STORAGE_API_URL=
# Secret dùng để ký & verify cookie (session token…)
COOKIE_SECRET=
LOCKETDIO_JWT_SECRET=

# ================== SETTING APP API BY DIO ==================
# upload tổng tối đa (MB)
MAX_UPLOAD_SIZE=150

# video tối đa (MB)
MAX_VIDEO_SIZE_MB=6

# user free tối đa (MB)
MAX_SIZE_ALLOWED_FREE=15

# ảnh tối đa (MB)
MAX_IMAGE_SIZE=5

# ================== LOCKET ==================

# Base API của Locket (reverse / private API)
LOCKET_API_BASE=https://api.locketcamera.com


# ================== FIREBASE ==================

# API Key Firebase (Auth, AppCheck, Identity Toolkit…)
FIREBASE_API_KEY=

# Firebase Authentication (Identity Toolkit API)
# Dùng cho: signIn, signUp, verifyPhoneNumber, refresh token...
FIREBASE_AUTH_API_BASE=https://www.googleapis.com/identitytoolkit/v3/relyingparty

# Firebase Firestore REST API base
# Dùng cho: đọc/ghi document qua REST
FIREBASE_FIRESTORE_API_BASE=https://firestore.googleapis.com/v1/projects/locket-4252a/databases

# Firebase App Check API
# Dùng cho: verify / exchange App Check token
FIREBASE_APPCHECK_API_BASE=https://firebaseappcheck.googleapis.com

LOCKET_APP_CHECK_DEVICE_TOKEN=
LOCKET_APP_CHECK_DEVICE_ID=1:641029076083:ios:cc8eb46290d69b234fa606

# Firebase Secure Token API
# Dùng cho: refresh access token từ refresh token
FIREBASE_SECURETOKEN_API_BASE=https://securetoken.googleapis.com

# Proxy
# Dùng cho: gọi các api qua proxy
LOCKET_HTTP_PROXY=
# Spotify Web API (server-side client credentials)
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Locket optional protocol tokens
LOCKET_CLIENT_TOKEN=
LOCKET_APP_CHECK_TOKEN=
LOCKET_FCM_INSTANCE_ID_TOKEN=
LOCKETDIO_SIGNATURE_SECRET=

